<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Track</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/app.js"></script>

    <link href="./css/style.css" rel="stylesheet" type="text/css">

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
      
      <style type="text/css">
        #my_centered_buttons { display: flex; justify-content: center; }
          
      </style>
      
    
  </head>
    
    
    
  <body ng-app="todo" ng-controller="TodoCtrl">
      <ion-side-menus>
            
        <!-- Center content -->
            <ion-side-menu-content>
                
                  <ion-header-bar class="bar-dark">
                    <button class="button button-icon" ng-click="toggleProjects()">
                      <i class="icon ion-navicon"></i>
                    </button>
                    <h1 class="title">{{activeProject.title}}'s Shows</h1>
                    <!-- New Task button-->
                    <button class="button button-icon" ng-click="newTask()">
                      <i class="icon ion-compose"></i>
                    </button>
                  </ion-header-bar>
                
              <ion-content scroll="false">
                        <ion-list>
                          <ion-item ng-repeat="task in activeProject.tasks">
        <!--                    {{task.title}}-->
                                <input type="checkbox" ng-model="task.done" ng-click="refresh(task, $index)">
                                <span class="done-{{task.done}}">{{task.title}} airs on {{task.day}} at {{task.time}} on {{task.date}}</span>
                                <span class="glyphicon glyphicon-remove" ng-click="removeTodos(task)" style="float:right"></span>



                          </ion-item>
                        </ion-list>
                  
                  <div>
                           <span id="my_centered_buttons">{{remaining()}} of {{activeProject.tasks.length}} remaining</span>
                      </div>
                          <div id="my_centered_buttons">
                            <div class="btn btn-warning" ng-click="archive()">Clear Watched</div>
                            <div class="btn btn-danger" ng-click="removeAll()">Clear All</div>
                            <div class="btn btn-info" ng-click="deleteUser()">Delete User</div>
                      </div>
                      
              </ion-content>
            </ion-side-menu-content>
          
          
          <!-- Left menu -->
              <ion-side-menu side="left">
                <ion-header-bar class="bar-dark">
                  <h1 class="title">Users</h1>
                  <button class="button button-icon ion-plus" ng-click="newProject()">
                  </button>
                </ion-header-bar>
                <ion-content scroll="false">
                  <ion-list>
                    <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
                      {{project.title}}
                    </ion-item>
                      </ion-list>
           
                </ion-content>
              </ion-side-menu>

        <script id="new-task.html" type="text/ng-template">
              <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-secondary">
                  <h1 class="title">New Show</h1>
                  <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
                </ion-header-bar>

  
                <!-- Modal content area -->
                <ion-content>

                  <form ng-submit="createTask(task)">
                    <div class="list">
                      <label class="item item-input">
                          Show Name 
                          <input class="input_styling" type="text" placeholder="Whats the name of the show?" ng-model="task.title">
                        </label>
                        <label class="item item-input">
                          Episode Number  
                          <input class="input_styling" type="number" min="1" ng-model="task.episode" placeholder="1">
                        </label>
                        <label class="item item-input">
                          Number of Episodes
                          <input class="input_styling" type="number" min="1" ng-model="task.maxEpisode" placeholder="1">
                        </label>
                        <label class="item item-input">
                          Airing Day  
                          <input class="input_styling" type="text" placeholder="Friday" ng-model="task.day">
                        </label>
                        <label class="item item-input">
                          Airing Time (optional)
                          <input class="input_styling" type="number" ng-model="task.timeHour" placeholder="18" max="23" min="0">:
                          <input class="input_styling" type="number" ng-model="task.timeMinute" placeholder="00" max="59" min="0">
                        </label>
                      <div class="padding">
                        <button type="submit" class="button button-block button-positive">Add New Show</button>
                      </div>
                    </div>
                  </form>


                </ion-content>
              </div>
        </script>
      </ion-side-menus>
</body>

</html>